In [1]:
#Question1
i = [20, 35, 19]
print(max(i))

35

In [4]:
#Question2
def test(x,y):
    print(x+y,",",x-y)

test(40,10)

50 , 30

In [95]:
#Question3

all = [17,4,6,88,9,45]
print(sum(all))
#part 2

def mult(x,y,z,c):
    print(x*y*z*c)
mult(2,3,4,5)
#part3
k=[]
j=[]
all = [1,2,3,4,5,6,7,8,9]
for i in all :
  if i % 2 == 0 :
    k.append(i)
  else :
    j.append(i)  
print(sum(k))
v = 1 
for c in j :
   v = v*c

print(v)

169
120
20
945

In [42]:
#Question4
i = "green-red-yellow-black-white"
c = i.split("-")
print(sorted(c))

items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

['black', 'green', 'red', 'white', 'yellow']
green-red-yellow-black-white
black-green-red-white-yellow

In [94]:
#Question5
def equ(d) :
 print(int((2 * 50 * d /30)** 0.5))

equ(100)
equ(150)
equ(180)

18
22
24